@import url(https://fonts.googleapis.com/css?family=Roboto:300);
header .header{
  background-color: #4c6baf;
  height: 45px;
}
header a img{
  width: 134px;
margin-top: 4px;
}
.login-page {
  width: 360px;
  padding: 25% 0 0;
  margin: auto;
}
.login-page .form .login{
  margin-top: -31px;
margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: rgba(25, 98, 255, 0.31);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgb(76, 99, 175);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #2f4152;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #1b1e21;
  background-image: linear-gradient(45deg,#1b1e21,#6c757d);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #0c5460;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #0c5460;
  font-size: 12px;
}
.form .message a {
  color: #4c6baf;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4c6baf;
}