<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href={% static "img/lg.png" %} >

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href={% static "lib/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href={% static "lib/font-awesome/css/font-awesome.min.css"  %} rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href={% static "css/style.css" %} rel="stylesheet">
    <title>A Global P2P Lending Platform</title>

</head>
<body>
                    <center>Welcome to SoCap</center><br>



<br>
<center>Empowering small businesses and their lending partners through innovative financing solutions and collaborative environments for collective success.<center>



<br>

</body>
</html>

